html {
	height: 100%;
}

body {
	background: linear-gradient(45deg, rgba(252, 129, 192, 0.2), rgba(46, 255, 175, 0.3), rgba(46, 234, 255, 0.3), rgba(35, 213, 171, 0.3));
	background-size: cover;
	margin: 0;
	display: flex;
	flex-flow: column;
	width: 100%;
	min-width: 1100px;
	height: 100%;
	background-attachment: fixed;

	font-family: 'Mako';
}

/*
	Header and header menus styling
*/
#header {
	width: 100%;
	height: 100%;
	min-height: 110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255,255,255,0.3);
}

#inp, #options, #next_step, #previous_step, #help {
	width: 20%;
	min-width: 220px;
	height: 100px;
	align-items: center;
	text-align: center;
}

#options, #next_step, #previous_step, #help {
	opacity: 0;
}

/*
	The main regex input field and corresponding convert button
*/
#convert {
	width: 200px;
	font-size: 20px;
	margin: 10px auto;
	display: block;
	cursor: pointer;
	outline: none;
	background: none;
	border: 2px solid rgba(15,105,102,0.8);
}

#convert:hover {
	border: 2px solid rgb(15,105,102);
}

#convert:disabled {
	cursor: default;
	border: 2px solid rgba(15,105,102,0.5);
}

#regex {
	background-color: rgba(255,255,255,0.3);
	border: 1px solid rgba(170,170,170,0.5);
	border-radius: 0px;
	width: 192px;
	font-size: 30px;
	display: block;
	margin: 10px auto;
	padding: 2px 4px;
}

#regex:focus {
	outline: none;
}

#validBorder, #invalidBorder {
	pointer-events: none;
	position: absolute;
	transform: translate(-50%);
	margin: 10px 0 0 0;
}

.greenPath, .redPath {
	stroke-dashoffset: 240px;
	stroke-dasharray: 240px;
	transition: stroke-dashoffset 1s;
}

.enabled {
	stroke-dashoffset: 0px;
}

#options1, #options2, #options3 {
	margin: 5px auto;
}

#help {
	display: flex;
	flex-flow: column;
}

#help button {
	margin: 10px 10px 0 10px;
	width: 50px;
}

#line {
	display:none;
	background-color: black;
	min-height: 1px;
	width: 100%;
	bottom: 0%;
	opacity: 0;
	margin: 0;
}

.beginbuttons {
	width: 200px;
	margin: -5px auto;
	display: flex;
	flex-flow: row;
	font-size: 14px;
}

.helpbutton2 {
	border-bottom: 1px solid black;
	width: 30px;
	margin-right: 47px;
	text-align: left;
	cursor: pointer;
}

.examplebutton {
	border-bottom: 1px solid black;
	width: 123px;
	text-align: right;
	cursor: pointer;
}


#header button {
	cursor: pointer;
	outline: none;
	background: none;
	border: 2px solid rgba(15,105,102,0.75);
	font-family: 'Mako';
}

#header button:hover {
	border: 2px solid rgb(15,105,102);
}

#header button:active {
	background: rgba(255,255,255,0.3);
}

#header button:disabled {
	cursor: default;
	border: 2px solid rgba(15,105,102,0.5);
}

/*
	Styling for the automaton itself
*/
#FA {
	display: none;
	min-height: 300px;
	min-width: 1100px;
	width: 100%;
	flex: 1 1 auto;
	position: relative;
	overflow: hidden;
}

#FA svg {
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Disappear animation when converting another expression */
svg.disappear {
	-webkit-animation: disap 0.9s;
	animation: disap 0.9s;
	animation-fill-mode: forwards;
}

@keyframes disap {
	0% {transform: scale(1)}
	65% {transform: scale(1.15)}
	100% {transform: scale(0)}
}

@-webkit-keyframes disap {
	0% {transform: scale(1)}
	65% {transform: scale(1.15)}
	100% {transform: scale(0)}
}

/*
	Buttons to go to the next or previous step
*/
#stepr, #stepl {
	opacity: 0;
  flex-direction: row;
  justify-content: center;
	height: 80px;
	width: 190px;
	margin: 10px auto;
	border: 1px solid rgb(15,105,102);
}

.step {
	display: none;
}

.step:hover {
	cursor: pointer;
}

.step:hover .buttonPath {
	-webkit-animation: glow 4s infinite;
	animation: glow 4s infinite;
}

@keyframes glow {
	0% {stroke-dashoffset: 56.85}
	65% {stroke-dashoffset: -56.85}
	100% {stroke-dashoffset: -56.85}
}

@-webkit-keyframes glow {
	0% {stroke-dashoffset: 56.85}
	65% {stroke-dashoffset: -56.85}
	100% {stroke-dashoffset: -56.85}
}

.steptext {
	font-size: 24px;
	font-weight: 800;
	color: rgba(15,105,102,1);
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.buttonPath {
	stroke-dasharray: 56.85;
	stroke-dashoffset: 56.85;
}

/*
	Message with info about next step
*/
#step_message, #error_message {
	width: 100%;
	min-width: 1100px;
	margin: 0;
	height: 24px;
	min-height: 24px;
	text-align: center;
	background-color: rgba(255,255,255,0.3);
}

#error_message {
	height: auto;
	min-height: 0px;
	color: red;
}
/*
	Infoboxes
*/
ellipse {
	transition: rx 0.6s 0.9s, ry 0.6s 0.9s;
}

.selected_small {
	transition: rx 0.6s 0.3s, ry 0.6s 0.3s;
	rx: 20px;
	ry: 20px;
}

.selected_big {
	transition: rx 0.6s 0.3s, ry 0.6s 0.3s;
	rx: 23px;
	ry: 23px;
}

.info_path {
	transition: stroke-dashoffset 1.1s, fill-opacity 0.2s;
	fill-opacity: 0;
}

.info_path_selected {
	transition: stroke-dashoffset 1.1s 0.7s, fill-opacity 0.2s 1.4s;
	fill-opacity: 1;
	stroke-dashoffset: 0 !important;
}

.info_text {
	transition: opacity 0.2s;
	opacity: 0;
}

.info_text_selected {
	transition: opacity 0.2s 1.4s;
	opacity: 1;
}

.info_text_big {
	font-size: 10.5px;
	font-weigth: 500;
}

.info_text_small {
	font-size: 7.5px;
}

.info_box {
	pointer-events: none;
}

.info_rect {
	pointer-events: none;
}

.info_rect_selected {
	pointer-events: all;
}
/*
	DFA Animation Table
*/
#table_container {
	width: 20%;
	min-width: 390px;
	height: 100%;
	display: flex;
	flex-flow: column;
	border-left: 1px solid black;
	border-right: 1px solid black;
	overflow: auto;
}

.table_row {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

#table_head div {
	font-size: 20px;
	font-weight: 700;
}

.table_text_left {
	min-width: 35%;
	width: 35%;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.table_text_right {
	width: 65%;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	border-bottom: 1px solid black;
}

/*
	Help menu
*/
.helpmenu {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	height: 50%;
	min-width: 780px;
	min-height: 560px;
	display: none;
	z-index: 1;
	background: white;
	border-radius: 10px;
	border: 1px solid black;
	padding: 5px 10px 20px 5px;
}

.helpmenu_selected {
	display: block;
}
@media (max-width: 1100px) {
	.helpmenu {
		left: 150px;
		transform: translate(0, -50%);
	}
}
@media (max-height: 800px) {
	.helpmenu {
		top: 100px;
		bottom: 100px;
		transform: translate(-50%, 0);
	}
}
@media (max-width: 1100px) and (max-height: 800px) {
	.helpmenu {
		left: 150px;
		top: 100px;
		bottom: 100px;
		transform: none;
	}
}

.helpheader {
	height: 30px;
	width: 100%;
	background: white;
	position: relative;
}

.helptitle {
	width: 15%;
	font-size: 22px;
	margin: 10px;
	padding-left: 1%;
}

.helpexit {
	position: absolute;
	right: 0;
}

.helpexit:hover {
	cursor: pointer;
}

.helpbody {
	height: 530px;
	width: 100%;
	display: flex;
	flex-flow: row;
}

.helptabs {
	width: 15%;
	height: 100%;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.helpcontent {
	width: 85%;
	height: 100%;
	position: relative;
	overflow-y: scroll;
	padding-right: 15px;
	padding-left: 5px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 2px;
}

.helpsectionbutton {
	width: 80%;
	text-align: center;
	margin: 10px;
}

.regextext {
	font-weight: 600;
	color: #0055bb;
	display: inline-block;
}

h2 {
	margin-top: 0;
	margin-bottom: 5px;
}

.helpcontent div {
	margin-bottom: 30px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
