html {
	height: 100%;
}

body {
	background: linear-gradient(45deg, rgba(252, 129, 192, 0.2), rgba(46, 255, 175, 0.3), rgba(46, 234, 255, 0.3), rgba(35, 213, 171, 0.3));
	background-size: cover;
	margin: 0;
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
	background-attachment: fixed;

	font-family: 'Mako' !important;
}

#header {
	width: 100%;
	min-width: 1100px;
	height: 100%;
	min-height: 110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(255,255,255,0.3);
}

#inp, #options, #next_step, #previous_step, #help {
	width: 20%;
	min-width: 220px;
	height: 100px;
	align-items: center;
	text-align: center;
}

#options, #next_step, #previous_step, #help {
	opacity: 0;
}

#convert {
	width: 200px;
	font-size: 20px;
	margin: 10px auto;
	display: block;

	background: none;
	border: 2px solid rgb(15,105,102);
	font-family: 'Mako';
}

#regex {
	background-color: rgba(255,255,255,0.3);
	border: 1px solid rgba(170,170,170,0.5);
	border-radius: 0px;
	width: 192px;
	font-size: 30px;
	display: block;
	margin: 10px auto;
	padding: 2px 4px;
}

#regex:focus {
	outline: none;
}

#validBorder, #invalidBorder {
	pointer-events: none;
	position: absolute;
	transform: translate(-50%);
	margin: 10px 0 0 0;
}

.greenPath, .redPath {
	stroke-dashoffset: 240px;
	stroke-dasharray: 240px;
	transition: stroke-dashoffset 1s;
}

.enabled {
	stroke-dashoffset: 0px;
}

#line {
	display:none;
	background-color: black;
	min-height: 1px;
	min-width: 1100px;
	width: 100%;
	bottom: 0%;
	opacity: 0;
	margin: 0;
}

#options1, #options2, #options3 {
	margin: 5px auto;
}

svg.disappear {
	-webkit-animation: disap 0.9s;
	animation: disap 0.9s;
	animation-fill-mode: forwards;
}

@keyframes disap {
	0% {transform: scale(1)}
	65% {transform: scale(1.15)}
	100% {transform: scale(0)}
}

@-webkit-keyframes disap {
	0% {transform: scale(1)}
	65% {transform: scale(1.15)}
	100% {transform: scale(0)}
}

#FA {
	display: none;
	min-height: 300px;
	min-width: 1100px;
	width: 100%;
	flex: 1 1 auto;
	position: relative;
	overflow: hidden;
}

#FA svg {
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.step {
	opacity: 0;
  flex-direction: row;
  justify-content: center;
	height: 80px;
	width: 190px;
	margin: 10px auto;
	border: 1px solid rgb(15,105,102);
}

.step:hover {
	cursor: pointer;
}

.step:hover .buttonPath {
	-webkit-animation: glow 4s infinite;
	animation: glow 4s infinite;
}

@keyframes glow {
	0% {stroke-dashoffset: 56.85}
	65% {stroke-dashoffset: -56.85}
	100% {stroke-dashoffset: -56.85}
}

@-webkit-keyframes glow {
	0% {stroke-dashoffset: 56.85}
	65% {stroke-dashoffset: -56.85}
	100% {stroke-dashoffset: -56.85}
}

.steptext {
	font-size: 24px;
	font-weight: 800;
	color: rgba(15,105,102,1);
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.buttonPath {
	stroke-dasharray: 56.85;
	stroke-dashoffset: 56.85;
}

#step_message {
	width: 100%;
	min-width: 1100px;
	margin: 0;
	height: 24px;
	min-height: 24px;
	text-align: center;
	background-color: rgba(255,255,255,0.3);
}

ellipse {
	transition: rx 0.6s 0.9s, ry 0.6s 0.9s;
}

.selected_small {
	transition: rx 0.6s 0.3s, ry 0.6s 0.3s;
	rx: 20px;
	ry: 20px;
}

.selected_big {
	transition: rx 0.6s 0.3s, ry 0.6s 0.3s;
	rx: 23px;
	ry: 23px;
}

.info_path {
	pointer-events: none;
	stroke-dasharray: 230.15;
	stroke-dashoffset: 230.15;
	transition: stroke-dashoffset 1.1s, fill-opacity 0.2s;
}

.info_selected {
	pointer-events: all;
	transition: stroke-dashoffset 1.1s 0.7s, fill-opacity 0.2s 1.4s;
	fill-opacity: 1;
	stroke-dashoffset: 0;
}

#table_container {
	width: 20%;
	min-width: 390px;
	height: 100%;
	display: flex;
	flex-flow: column;
	border-left: 1px solid black;
	border-right: 1px solid black;
	overflow: auto;
}

.table_row {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

#table_head div {
	font-size: 20px;
	font-weight: 700;
}


.table_text_left {
	min-width: 35%;
	width: 35%;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.table_text_right {
	width: 65%;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	border-bottom: 1px solid black;
}
